<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="icon" href="/static/weather.png">
    <title>NodeJS Course - {{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/static/kitty1.JPG" alt="gray kitten">
    </div>
    {{>footer}}
</body>

</html>