<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="icon" href="/static/weather.png">
    <title>NodeJS Course - {{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created as part of a Udemy course. It uses data from mapbox.com and weatherstack.com</p>
        <p>The backend was put together using Node.js with Express.js and Mustache. It first connects with mapbox.com's API to get the coordinate data for a given location string. It then passes that data along to weatherstack.com which finds the weather for the given coordinates.</p>
        <p>This is my cat, Yoshi. He didn't help on this project at all. Well, moral support. We all need moral support.</p>
        <img class="portrait" src="/static/kitty1.JPG" alt="gray kitten">
    </div>
    {{>footer}}
</body>

</html>