<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="icon" href="/static/weather.png">
    <title>NodeJS Course - {{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Please contact me at <a href="mailto:charlesmcdougal@gmail.com">charlesmcdougal@gmail.com</a> if there are any issues with the site.</p>
    </div>
    {{>footer}}
</body>

</html>